:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  font-family: roboto;
}

.button-link {
  background-color: #3e43ff;
  color: white;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  min-width: 100%;
  text-decoration: none;
}

.content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
