:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  font-family: roboto;
}


input {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 7px;
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  border: 0px;
  border-bottom: 2px solid #7a7a7a;
}

textarea {
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 10px;
  margin-top: 7px;
  border-radius: 8px 8px 0px 0px;
  border: 0px;
  border-bottom: 2px solid #7a7a7a;
}



#text {
  padding: 10px;
  font-size: 18px;
}

#color {
  background-color: transparent !important;
}


form {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
  background-color: white;
  font-weight: medium;
}


button {
  background-color: #3e43ff;
  color: white;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 1.2px;
  cursor: pointer;
}


.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}


.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  visibility: hidden;
  font-size: 0.75rem;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
